
.card {
    background-color: white;

    width: 470px;
    margin-bottom: 30px;
} 
.user-holder {
    display: flex;
    font-family: 'Comfortaa', cursive;
    font-size: 1.5em;
    width: 100%;
    height: 60px;
    justify-content:space-between;
}
.card-username {
    padding-left: 10px;
    padding-top: 15px;
}
.ellipse {
    padding-top: 15px;
    padding-right: 15px;
}
.post {
    width: 470px;
    height: 350px;
}
.icons {
    height: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    padding-left: 5px;
}
.three {
    display: flex;
    justify-content: space-between;
}
.icons i{
    padding: 3px;
}
.save {
    padding-right: 15px;
}

.saved {
    padding-right: 15px;
}
.not-liked i {
    color: default;
}
.liked i{
    color: red;
}

.likes {
    height: 30px;
    margin: auto;
    padding: 5px 0px 5px 10px;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 0.9em;
}
.caption {
    display: flex;
    padding-left: 10px;
    font-family: sans-serif;
    font-size: 0.9em;
    height: auto;
}

.caption-username {
    font-weight: 700;
    margin: 0;
    padding-right: 5px;
}
.caption-words {
    margin:0;
    margin-right: 5px;
    width: 100%;
} 
.more {
    text-decoration: none;
    color: rgb(66 103 178);
    height: 23px;
    width: 100%;
}

#comments {
    font-family: sans-serif;
    font-size: 0.9em;
    width: 100%;
    height: auto;
}
#comments button {
    border-style: none;
    background-color: transparent;
}
.comment{
    display: flex;
    height: auto ;
}
.all-comments {
    color: rgb(66 103 178);
    padding-left: 10px;
    text-decoration: none;
    height: 30px;
    margin-top: 5px;
}
.comment-username {
    font-weight: 700;
    padding-right: 5px;
    margin: 0;
}
.comment-words {
    margin:0;
    padding-right: 5px;
    width: 100%;
}
.date-posted{
    font-size: 0.8em;
    font-family: sans-serif;
    padding-left: 10px;
    color: grey;
    height: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.add-comment {
    font-family: sans-serif;
    font-size: 0.9em;
    border-top: 2px solid grey;
    display: grid;
    grid-template-columns: auto 30px;
    height: 35px;
    padding-left: 10px;
    background-color: white;
}

.add-comment button {
    background-color: transparent;
    border-style: none;
}

.pt1 p{
    padding-left: 10px;
    color: rgb(220,220,220);
}

.pt2 {
    color: rgb(66 103 178);
    padding-right: 15px;
    text-decoration: none;
    padding-top: 10px;
} 

.modal-bg{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(50, 50, 50, 0.8);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    width: 80vw;
    height: 80vh;
    border-radius: 5px;
    display: flex;
    float: left;
}
.modal-bg #close {
    position: fixed;
    right: 20px;
    top: 20px;
}

.modal img {
    width: 50vw;
    height: 80vh;
}
#modal-user-profile {
    display: grid;
    grid-template-columns: 70px auto;
    align-items: center; /*vertical alignment */
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
}

#modal-user-profile img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
#modal-username {
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Comfortaa', cursive;
}

.modal-comment {
    display: grid;
    grid-template-columns: 60px auto 40px;
    padding-left: 10px;
}

.modal-comment img {
    height: 50px;
    width: 50px;
    border-radius: 50%;

}
.modal-comment-username {
    font-weight: 700;
}

.modal-comment-words {
    margin-top: 5px;
}

.modal-like {
    height: 30px;
    width: 30px;
    margin-top: 10px;
    background-color: transparent;
    border-style: none;
}

#container {
    overflow-y:auto;
}

input {
    margin-top: 2px;
    
}

