<!DOCTYPE html>
<html>
    <head>
        <title> Profile </title>
        <link rel="stylesheet" href="/static/css/profile.css"/>
        <script lang="text/javascript" src="/static/js/profile.js" defer></script>
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
        <section id="profile">
            <!-- your JS code will populate this region-->
                
        </section>
    </body>
</html>