<h2 id = "stories">
    <div class = "story">
        <img class = "story-pic" alt = "profile picture for account {{ stories[0].get('user').get('username') }}" src = "{{ stories[0].get('user').get('image_url') }}"></img>
        <div class = "story-username">{{ stories[0].get('user').get('username') }}</div>
    </div>
    <div class = "story">
        <img class = "story-pic" alt = "profile picture for account {{ stories[1].get('user').get('username') }}" src = "{{ stories[1].get('user').get('image_url') }}"></img>
        <div class = "story-username">{{ stories[1].get('user').get('username') }}</div>
    </div>
    <div class = "story">
        <img class = "story-pic" alt = "profile picture for account {{ stories[2].get('user').get('username') }}" src = "{{ stories[2].get('user').get('image_url') }}"></img>
        <div class = "story-username">{{ stories[2].get('user').get('username') }}</div>
    </div>
    <div class = "story">
        <img class = "story-pic" alt = "profile picture for account {{ stories[3].get('user').get('username') }}" src = "{{ stories[3].get('user').get('image_url') }}"></img>
        <div class = "story-username">{{ stories[3].get('user').get('username') }}</div>
    </div>
    <div class = "story">
        <img class = "story-pic" alt = "profile picture for account {{ stories[4].get('user').get('username') }}" src = "{{ stories[4].get('user').get('image_url') }}"></img>
        <div class = "story-username">{{ stories[4].get('user').get('username') }}</div>
    </div>
</h2>