<section id = "for-you">
    <h2>
        <img id = "prof-pic" alt = "profile picture for account {{ user.get('username')}}" src = "{{ user.get('image_url') }}"></img>
        <div id = "recs-username">{{ user.get('username') }}</div>
    </h2>
    <div id="recommendations">
        <p id="suggestions">Suggestions for you</p>
        <div>
            <div class="rec">
                <img class = "prof-pic" alt = "profile picture for account {{ suggestions[0].get('username')}}" src = "{{ suggestions[0].get('image_url') }}"></img>
                <div class="details">
                    <p class="username">{{ suggestions[0].get('username') }}</p>
                    <p class="suggested">suggested for you</p>
                </div>
                <a href="url" class="follow">follow</a>
            </div>
            <div class="rec">
                <img class = "prof-pic" alt = "profile picture for account {{ suggestions[1].get('username')}}" src = "{{ suggestions[1].get('image_url') }}"></img>
                <div class="details">
                    <p class="username">{{ suggestions[1].get('username') }}</p>
                    <p class="suggested">suggested for you</p>
                </div>
                <a href="url" class="follow">follow</a>
            </div>
            <div class="rec">
                <img class = "prof-pic" alt = "profile picture for account {{ suggestions[2].get('username')}}" src = "{{ suggestions[2].get('image_url') }}"></img>
                <div class="details">
                    <p class="username">{{ suggestions[2].get('username') }}</p>
                    <p class="suggested">suggested for you</p>
                </div>
                <a href="url" class="follow">follow</a>
            </div>
            <div class="rec">
                <img class = "prof-pic" alt = "profile picture for account {{ suggestions[3].get('username')}}" src = "{{ suggestions[3].get('image_url') }}"></img>
                <div class="details">
                    <p class="username">{{ suggestions[3].get('username') }}</p>
                    <p class="suggested">suggested for you</p>
                </div>
                <a href="url" class="follow">follow</a>
            </div>
            <div class="rec">
                <img class = "prof-pic" alt = "profile picture for account {{ suggestions[4].get('username')}}" src = "{{ suggestions[4].get('image_url') }}"></img>
                <div class="details">
                    <p class="username">{{ suggestions[4].get('username') }}</p>
                    <p class="suggested">suggested for you</p>
                </div>
                <a href="url" class="follow">follow</a>
            </div>
        </div>
    </div>
</section>