<!DOCTYPE html>
<html>
    <head>
        <title> lab 6</title>
        <link rel="stylesheet" href="/static/css/lab6.css"/>
        <script lang="text/javascript" src="/static/js/lab6.js" defer></script>
    </head>
    <body>
        <h1>Lab 6</h1>
        <main>
            <section id="suggestions">
                <!-- your JS code will populate this region-->
                <div class="suggestion">
                    <img src="???" />
                    <div>
                        <p class = "username" >Richard</p>
                        <p class="suggestion-text">suggested for you</p>
                    </div>
                    <div>
                        <button>follow</button>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>